
*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
body{
   color: black;
    background-color: #eac23f;
    text-align: center;
    /* background: linear-gradient(135deg, #dde9ff 0%, #a8c0ff 100%); */
}
h1{
    font-size: 6vh;
    padding-top: 5vh;
}

.box:hover {
  background-color: #ffeccc;
}

main{
    height: 100vh;
}

.container{
    height: 70vh;
    display: flex;
   justify-content: center;
   align-items: center;
}

.game{
   
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
}
.box{ 
    color: #bc430d;
    border-radius: 2rem;
   height: 18vmin;
   width: 18vmin;
   border: none;
   box-shadow:0 8px 32px 0 rgba(31, 38, 135, 0.37);
   font-size: 10vh;
   background-color: #1f1c19;
  box-shadow: 0 2px 10px rgba(50, 100, 200, 0.08);
  border-radius: 20px;
  transition: background 0.2s;

  
}
.resetBtn{
   font-size: 1.25rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
#newGame {
   font-size: 1.25rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: black;
    font-size: 6vmin ;
}
.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;
}
.hide{
    display: none;
}
